<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <%= csrf_meta_tags %>
    <title>
      welcome to seren meadows
    </title>
    <meta charset="utf-8" content="width=device-width, scaling=1">
  </head>
  <body>
    <div class="bottom-navigator">
    <div class="fluid-container">
    <div class="row">
     <div class="col-sm-1">
       <%= image_tag("pintu.png", :alt => "logo", :class => "img-thumbnail") %>
     </div>
     <div class="col-sm-3">
     </div>
     <div class="col-sm-1" class="rounded-corner-border">
       <ul class="navbar-nav mr-auto">
         <li class="nav-item">
           <a class="nav-link" href="#">Resort</a>
         </li>
       </ul>
     </div>
     <div class="col-sm-1" class="rounded-corner-border">
       <ul class="navbar-nav mr-auto">
         <li class="nav-item">
           <a class="nav-link" href="#">Facilities</a>
         </li>
       </ul>
     </div>
     <div class="col-sm-1" class="rounded-corner-border">
       <ul class="navbar-nav mr-auto">
         <li class="nav-item">
           <a class="nav-link" href="#">Tariff</a>
         </li>
       </ul>
     </div>
     <div class="col-sm-1" style = "border-style: solid;  border-radius: 2px; border-color: white;">
       <ul class="navbar-nav mr-auto">
         <li class="nav-item">
           <a class="nav-link" href="#">Tourism</a>
         </li>
       </ul>
     </div>
     <div class="col-sm-1" class="rounded-corner-border">
       <ul class="navbar-nav mr-auto">
         <li class="nav-item">
           <a class="nav-link" href="#">Contact us</a>
         </li>
       </ul>
     </div>
     <div class="col-sm-1" class="rounded-corner-border">
       <ul class="navbar-nav mr-auto">
         <li class="nav-item">
           <a class="nav-link" href="#">Book now</a>
         </li>
       </ul>
   </div>
   </div>
 </div>
</div>

<%= image_tag("resort.jpg", :alt => "smd", :class => "fullresponsive") %>
<div class="bottom-navigator">
<div class="fluid-container">
<div class="row">
 <div class="col-sm-2">
   <ul class="navbar-nav mr-auto">
     <li class="nav-item">
       <a class="nav-link" href="#">Resort</a>
     </li>
     <li class="nav-item">
       <a class="nav-link" href="#">About us</a>
     </li>
     <li class="nav-item">
       <a class="nav-link" href="#">Tradition</a>
     </li>
     <li class="nav-item">
       <a class="nav-link" href="#">Plantations</a>
     </li>
   </ul>
 </div>
 <div class="col-sm-2">
 <ul class="navbar-nav mr-auto">
   <li class="nav-item">
     <a class="nav-link" href="#">Facilities</a>
   </li>
   <li class="nav-item">
     <a class="nav-link" href="#">Accomodation</a>
   </li>
   <li class="nav-item">
     <a class="nav-link" href="#">Food Menu</a>
   </li>
   <li class="nav-item">
     <a class="nav-link" href="#">Amenities</a>
   </li>
 </ul>
</div>
 <div class="col-sm-2">
 <ul class="navbar-nav mr-auto">
   <li class="nav-item">
     <a class="nav-link" href="#">Tourism</a>
   </li>
   <li class="nav-item">
     <a class="nav-link" href="#">Ooty tourism</a>
   </li>
   <li class="nav-item">
     <a class="nav-link" href="#">Anakatti Tourism</a>
   </li>
   <li class="nav-item">
     <a class="nav-link" href="#">Local Tourism</a>
   </li>
 </ul>
 </div>

 <div class="col-sm-2">
 <ul class="navbar-nav mr-auto">
   <li class="nav-item">
     <a class="nav-link" href="#">Contact us</a>
   </li>
   <li class="nav-item">
     <a class="nav-link" href="#">Getting there</a>
   </li>
   <li class="nav-item">
     <a class="nav-link" href="#">Contact us</a>
   </li>
   <li class="nav-item">
     <a class="nav-link" href="#">Heritage</a>
   </li>
 </ul>
 </div>

 <div class="col-sm-2">
 <ul class="navbar-nav mr-auto">
   <li class="nav-item">
     <a class="nav-link" href="#">Gallery</a>
   </li>
 </ul>
</div>
 <div class="col-sm-2">
 <ul class="navbar-nav mr-auto">
   <li class="nav-item">
     <a class="nav-link" href="#">Gallery</a>
   </li>
   </div>
 </ul>
</div>
</div>
</div>


  </body>
</html>
